<div class="initial">
    <div class="container">
        <div *ngFor="let book of bookList">     
            <app-display-book [book]="book"></app-display-book>
            
        </div>
    </div>
</div>
 

<!-- <h1>book container works</h1>
<h1>book container works</h1>
<h1>book container works</h1>
<h1>book container works</h1>
<h1>book container works</h1>
<h1>book container works</h1>
<h1>book container works</h1>
<h1>book container works</h1>
<h1>book container works</h1>
<h1>book container works</h1> -->