::ng-deep .app-signup-cnt {
    display: flex;
    height: 100vh;
  }
  
  .wrapper {
    display: flex;
    justify-content: space-between; /* This property is declared twice, so I kept the second instance */
    align-items: center;
    margin: auto;
    width: 50%;
    /* border: 1px solid #000; (commented out as in your original) */
    border-radius: 10px;
    box-shadow: 0px 14px 40px rgba(49, 5, 5, 0.5); /* Adjusted blur radius, reduced shadow size, increased opacity */
    padding: 20px 25px;
}

  
  .leftside {
    width: 60%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
  }
  
  .rightside {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 35%;
  }
  
  .header {
    font-size: 30px;
    color: #8f2847;
    
  }
  
  .sub-header {
    font-size: 16px;
    color: #333;
  }
  
  .signup-form-cnt {
    display: flex;
    flex-direction: column;
    width: 100%;
  }
  
  .signup-first-last-name-cnt {
    display: flex;
    width: 100%;
    justify-content: space-between;
    // margin-bottom: 20px; /* Added margin between input groups */
  }
  
  .abc {
    width: 48%;
  }
  
  label {
    font-size: 20px;
    color: #333;
  }
  
  .signup-signin-register-btn-cnt {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
  }
  
  .sign-in-instead {
    color: #8f2847;
  }
  
  .registerBtn {
    color: #fff;
    background-color: #8f2847;
  }
  
  .image-container {
    width: 300px;
    display: flex;
    justify-content: flex-start;
    align-items: flex-end;
  }
  
  .image-container img {
    height: auto;
  }
  
  .text-below-image {
    text-align: center;
    margin-top: 0px;
  }
  
  .text-below-image span {
    font-size: 14px;
    color: #666;
  }
  
  @media screen and (min-width: 300px) and (max-width: 600px) {
    .wrapper {
      width: calc(100% - 40px);
      padding: 10px 15px;
    }
  
    .leftside {
      width: 100%;
    }
  
    .rightside {
      display: none;
    }
  
    .signup-first-last-name-cnt {
      flex-direction: column;
    }
  
    .abc {
      width: 100%;
    }
  }