::ng-deep .app-signin-cnt {
    display: flex;
    margin: auto;
  }
  
  .wrapper {
      display: flex;
      justify-content: center;
      align-items: center;
      // height: 100vh;
      margin: auto;
    }
    
    .border {
      display: flex;
      flex-direction: column;
      align-items: center;
      padding: 40px;
      border: 1px solid #161716;
      border-radius: 10px;
      box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3); /* Increased blur radius and opacity for a more visible shadow */
  }
  
    
  //   .leftside,
  //   .rightside {
  //     flex: 1;
  //   }
    
  //   .leftside {
  //     padding: 70px;
  //   }
    
    form {
      display: flex;
      flex-direction: column;
      margin-top: 20px;
    }
    
    .header {
      font-size: 20px;
      color: #8f2847; /* Yellow color */
    }
    
    .sub-header {
      font-size: 16px;
      color: #333;
    }
    
    .form-group {
      margin-bottom: 15px;
    }
    
    label {
      font-size: 16px;
      color: #333;
    }
    
    input[type="text"],
    input[type="email"] {
      width: 100%;
      padding: 8px;
      font-size: 14px;
      border: 1px solid #ccc;
      border-radius: 5px;
    }
    
    .forgot-password, 
    .create-account {
      padding: 5px;    
    }
  
    // button {
    //   padding: 8px 87px;
    //   margin-bottom: 20px;
    //   font-size: 13px;
    //   color: #fff;
    //   border: none;
    //   border-radius: 6px;
    //   cursor: pointer;
    // }
        
    .registerBtn {//button {//[type="submit"] {
      color: #fff;
      background-color: #8f2847; /* Blue color */
    }
    
    .create-account, .forgot-password {
      color: #8f2847;
    }